@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

body,
button,
input {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1200px) {
  .App {
    font-size: 18px;
  }
}