* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .App {
    font-size: 18px;
  }
}