ul {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
  background-color: #151515;
}

li {
  word-wrap: break-word;
  padding-bottom: 1em;
}

li:last-child {
  padding-bottom: 0;
}

li div {
  display: inline-block;
  max-width: 100%;
  border-radius: 12px;
  padding: .6em .8em;
  color: white;
  background-color: #921a92;
  line-height: 1.5em;
}