form {
  position: relative;
  display: flex;
  border: 2px solid #5a005a;
}

input {
  flex: 1;
  padding: 5px 10px;
  border: none;
  font-size: 1em;
}

input:focus {
  outline: none;
}

form button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  color: white;
  background-color: #d400d4;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0 10px;
  cursor: pointer;
}

.footer {
  position: relative;
  background-image: linear-gradient(to top, #690069 40%, #b701b7 100%);
  padding: 15px 10px;
}

#msg-alert {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: -35px;
  width: 150px;
  height: 35px;
  font-size: 16px;
  left: 50%;
  margin-left: -75px;
  cursor: pointer;
  color: white;
  background-color: #690069;
  border: 1px solid #d400d4;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}